

@media screen and (min-width:1600px) {
    
    .container{
        max-width: 90%!important;
     
    }

    .game-tab-wrapper .nav-tabs .nav-link {
  
        font-size: calc(0.1rem + 0.9vw);
    }
    .tab-content .table th {
  
        font-size: calc(1rem + 1vw);
    }
    .table tr td {
  
        font-size: calc(0.2rem + 1vw);
    }
    
    


}